/* --------------------------------------------------------
Style Sheet for app.christof.digital

version: 0.9
last modified: 15.12.2021 by Christof Bauer
author: Christof Bauer
email: bauer.christof@gmail.com
----------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Courier+Prime&display=swap");

:root {
  --color-brand: #a6d1c9;
  --color-brand-dark: #282b29;
  --color-cta: #D6A269;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* ==========================================================================
	General overrides and utilities
	========================================================================== */

html, body {
  scroll-behavior: smooth;
}

::selection {
  @apply bg-cta bg-opacity-50;
}

::-moz-selection {
  @apply bg-cta bg-opacity-50;
}

.link {
  @apply underline underline-offset-2 outline-none transition-all duration-300;
}

.link:hover {
  @apply no-underline text-cta transition-all; 
}


/* ==========================================================================
	Navigation
	========================================================================== */

.active-nav {
  @apply dark:bg-brand dark:text-brand-dark bg-brand-dark text-brand ;
}


/* ==========================================================================
	Forms 
	========================================================================== */

.button {
  @apply bg-brand-dark text-brand py-4 px-8 rounded shadow-lg transition-all cursor-pointer
    hover:shadow-none hover:text-white dark:bg-brand dark:text-brand-dark
    focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-dark;
}

.example input[type='text'] {
  @apply border p-4 text-brand-dark
    focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-dark;
}

.connect-button {
  @apply px-4 py-2 border border-brand-dark dark:border-brand 
  hover:bg-brand-dark hover:text-brand dark:hover:bg-brand dark:hover:text-brand-dark transition-all;
}

select {
  @apply border-none px-4 h-10 text-brand-dark rounded-sm w-[150px]
    focus:outline-none ;
}


/* ==========================================================================
	Dashboard 
	========================================================================== */

.dashboard input[type='text'] {
  @apply border-none px-4 h-10 text-brand-dark rounded-sm w-[150px] placeholder:text-brand-dark
    focus:outline-none;
}


/* ==========================================================================
	SVGs 
	========================================================================== */

 /* Arrow */ 
:root {
  --dark-svg-color: #635bff;
  --light-svg-color: #80e9ff;
}
svg {
  cursor: pointer;
}
#darkGroup {
  fill: var(--dark-svg-color);
}
#lightGroup {
  fill: var(--light-svg-color);
}
#dark1,
#light1,
#dark2 {
  transition: all 1s ease;
}
#dark2 {
  transform: translateX(-100%);
}
svg:hover #light1 {
  transform: translateX(20%);
}
svg:hover #dark1 {
  transform: translateX(40%);
  opacity: 0;
}
svg:hover #dark2 {
  transform: translateX(0%);
}


/* Phone */
#skeleton {
  animation: fadeInUp 1s;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#bolt g {
  opacity: 0;
  animation: dropIn 8s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: calc(var(--order) * 200ms);
  animation-iteration-count: infinite;
}
@keyframes dropIn {
  20% {
    opacity: 0;
    transform: translateY(-20%);
  }
  30%, 100% {
    opacity: 1;
    transform: translateY(0);
  }
}
